.login__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  border: 0;
  padding: 0 0 13px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;

  width: 100%;
  background-color: black;
  margin-top: 30px;
  color: white;
}

.login__input:first-of-type {
  margin-top: 40px;
}

.login__input::placeholder{
  color: #CCC;
}
