.header__button{
  width: 24px;
  height: 23px;
  border: 0;
  background-image: linear-gradient(
    #FFF 3px,
    #000 3px 10px,
    #FFF 10px 13px,
    #000 13px 20px,
    #FFF 20px
    );
}
.header__button:hover{
  cursor: pointer;
}
@media screen and (max-width:600px) {
  .header__button {
    display: block;
  }
}
